*{
    padding: 0;
    margin: 0;
}
body{ 
    margin: 6px 12px;
    background-color: rgb(88, 134, 172);
    .title{
        margin-top: 1rem;
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
      
    }
    .formname{
        text-align: center;

    }
    .inf{
        text-align: right;
    }
    
        input{
            margin-top: 10px;
        }
        label{
            margin-top: 10px;
        }
    
    
        select{
        margin-top: 10px;

    }
    .sign{
        text-align: right;
    }
       
}
